API_HOST=127.0.0.1
API_KEY=tokenisdevtoken
API_PORT=3000
API_VERSION=api/v1
APP_PASSWORD=password
APP_USER=user
LOGS_COLOR=FALSE
LOGS_LOGENTRIES_TOKEN=
LOGS_TRANSPORTS=console
LOG_LEVEL=debug
NODE_ENV=development
RETHINKDB_AUTHKEY=
RETHINKDB_BUFFER_SIZE=50
RETHINKDB_DATABASE=db_service_development
RETHINKDB_HOST=localhost
RETHINKDB_MAX=1000
RETHINKDB_MIN=50
RETHINKDB_PORT=28015
RETHINKDB_SSL_CA=
RETHINKDB_TIMEOUT_ERROR=1000
RETHINKDB_TIMEOUT_GB=3600000
RETHINKDB_USER=
RETHINKDB_USERS_TABLE=users
RETHINKDB_CREDENTIALS_TABLE=credentials
RETHINKDB_CHARTS_TABLE=charts
RETHINKDB_INVITATIONS_TABLE=invitations
RETHINKDB_INVITATIONS_TABLE_ORDERING_INDEX=invitations_ordering_index
RETHINKDB_USER_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_DB=db_service_development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_SSL=false
