RETHINKDB_AUTHKEY=
RETHINKDB_BUFFER_SIZE=50
RETHINKDB_DATABASE=db_service_development
RETHINKDB_HOST=localhost
RETHINKDB_MAX=1000
RETHINKDB_MIN=50
RETHINKDB_PORT=28015
RETHINKDB_SSL_CA=
RETHINKDB_TIMEOUT_ERROR=1000
RETHINKDB_TIMEOUT_GB=3600000
RETHINKDB_USER=
RETHINKDB_USERS_TABLE=users
RETHINKDB_CREDENTIALS_TABLE=credentials
RETHINKDB_CHARTS_TABLE=charts
RETHINKDB_INVITATIONS_TABLE=invitations
RETHINKDB_INVITATIONS_TABLE_ORDERING_INDEX=invitations_ordering_index
RETHINKDB_USER_PASSWORD=
